@{
    ViewData["Title"] = "Sales Records";
}

<h1>@ViewData["Title"]</h1>
<hr>

<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="SimpleSearch">
            <fieldset>
                <legend>Simple Search</legend>
                <div class="mb-3">
                    <label for="minDate" class="col-lg-2 control-label">Min Date</label>
                    <div class="col-lg-10">
                        <input type="date" name="minDate" class="form-control">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="maxDate" class="col-lg-2 control-label">Max Date</label>
                    <div class="col-lg-10">
                        <input type="date" name="maxDate" class="form-control">
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-primary">Submit</button>
            </fieldset>
        </form>
    </div>
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="GroupingSearch">
            <fieldset>
                <legend>Gruoping Search</legend>
                <div class="mb-3">
                    <label for="minDate" class="col-lg-2 control-label">Min Date</label>
                    <div class="col-lg-10">
                        <input type="date" name="minDate" class="form-control">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="maxDate" class="col-lg-2 control-label">Max Date</label>
                    <div class="col-lg-10">
                        <input type="date" name="maxDate" class="form-control">
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-primary">Submit</button>
            </fieldset>
        </form>
    </div>
</div>